<!doctype html>
<html
        class="light"
        lang="en"
        th:fragment="parent(content,title,script)"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-th-replace="${title}">Base Page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="w-full dark:bg-gray-900 dark:text-white">
<!--If user is logged in-->
<div th:if="${loggedInUser}">
    <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
</div>
<!--If user is not logged In-->
<div th:unless="${loggedInUser}">
    <div data-th-replace="~{navbar :: navbar}"></div>
</div>
<br><br><br>
    <div class="p-4 h-screen">
        <section data-th-replace="${content}"></section>
    </div>

    <footer class="p-4">Footer: Coding is heaven</footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>
</html>