<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
<head>
    <title>All Your Contacts Page</title>
</head>
<body>
<div id="content">

    <!-- sidebar -->

    <!-- user is logged in : sidebar -->

    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-1">

        <div>
            <!--  profie card -->
            <h1 class="text-5xl mb-5 text-center">All Your Contacts</h1>
<!--            <p>List of all contacts...</p>-->
            <div class="contacts_container p-5">


                <div class="relative p-5 overflow-x-auto shadow-md sm:rounded-lg">
                    <div data-th-replace="~{message::messagebox}"></div>
                    <div class="flex justify-between">
                        <form data-th-object="${contactSearchRequest}" data-th-action="@{'/user/contacts/search'}" method="get">
                            <div class="flex space-x-3 items-center flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
                                <!--                        select-->
                                <div>
                                    <select data-th-field="*{field}" name="field" id="countries_disabled" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="all">All</option>
                                        <option value="name">Name</option>
                                        <option value="phoneNumber">Phone</option>
                                        <option value="email">Email</option>
                                        <option value="favorite">Favorite</option>
                                    </select>
                                </div>

                                <label class="sr-only">Search</label>
                                <div class="relative">
                                    <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                        </svg>
                                    </div>
                                    <input data-th-field="*{value}" name="value" type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                                </div>
                                <button type="submit" class="px-3 py-2 bg-gray-800 text-white rounded dark:bg-blue-800">Search</button>
                            </div>

                        </form>
                        <div>
                            <button type="button" onclick="exportData()" class="px-3 py-2 bg-green-800 text-white rounded dark:bg-blue-800">Export</button>
                        </div>

                    </div>
                     <table id="contact-table"
                            data-th-if="${contacts.totalElements>0}"
                             class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Phone
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Website
                            </th>
                            <th scope="col" class="px-6 py-3">
                                LinkedIn
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-th-object="${c}" data-th-each= "c : ${contacts.content}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <img onerror="this.onerror=null; this.src='/images/defaultProfile.jpg';" data-th-src="@{*{picture}}" class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Jese image">
                                <div class="ps-3">
                                    <div class="flex flex-row">
                                        <div data-th-text="*{name}" class="text-base font-semibold">Neil Sims </div>
                                        <div data-th-if="*{favorite}" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2 mt-2 ml-2"></div>
                                    </div>

                                    <div data-th-text="*{email}" class="font-normal text-gray-500">neil.sims@flowbite.com</div>
                                </div>
                            </th>
                            <td  class="px-6 py-4">
                                <i class="fa-solid fa-phone w-4 h-4"></i>
                                <span data-th-text="*{phoneNumber}"></span>
                            </td>
                            <td  class="px-6 py-4">
                                <a data-th-href="*{websiteLink}"><i class="fa-solid w-5 h-5 fa-link"></i></a>
                            </td>
                            <td  class="px-6 py-4">
                                <a data-th-href="*{linkedInLink}"><i class="fa-brands w-5 h-5 fa-linkedin"></i></a>
                            </td>
                            <td class="px-6 py-4">
                                <div class="space-x-3">
                                    <button th:onclick="deleteContact([[${c.id}]])" data-th-href="@{'/user/contacts/delete/'+*{id}}"><i class="fa-solid fa-trash"></i></button>
                                    <a data-th-href="@{'/user/contacts/view/'+*{id}}"><i class="fa-solid fa-pen"></i></a>
                                    <button th:onclick="loadContactData([[${c.id}]])"><i class="fa-solid fa-eye"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="flex justify-center items-center mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="inline-flex -space-x-px text-base h-10">
                                <li data-th-unless="${contacts.first}">
                                    <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${(contacts.number)-1}}" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                                </li>
                                <li data-th-each="index: ${#numbers.sequence(0,(contacts.totalPages)-1)}">
                                    <a
                                            data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${index}}"
                                            href="#"
                                            data-th-classappend="${index==contacts.number? 'bg-blue-50  dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                    >
                                        <span data-th-text="${index+1}"></span>
                                    </a>
                                </li>

                                <li data-th-unless="${contacts.last}">
                                    <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${(contacts.number)+1}}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <div data-th-replace="~{user/contacts_modals::contact}">Contact</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
<script data-th-src="@{'/js/contacts.js'}"></script>
<script>
    function exportData() {
        TableToExcel.convert(document.getElementById("contact-table"), {
            name: "contacts.xlsx",
            sheet: {
                name: "Sheet 1",
            },
        });
    }
</script>
</body>
</html>